<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="None" value="Images/name.png"/>
		<add key="Wave" value="Images/name.png"/>
		<add key="Cloud" value="Images/name.png"/>
		<add key="Explosion" value="Images/name.png"/>
		<add key="SingleDeckShip" value="Images/name.png"/>
		<add key="BowShip" value="Images/name.png"/>
		<add key="SternShip" value="Images/name.png"/>
		<add key="FirstCentralPartShip" value="Images/name.png"/>
		<add key="SecondCentralPartShip" value="Images/name.png"/>
	</appSettings>
</configuration>