<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="None" value="/Images/Ship.png"/>
		<add key="Wave" value="/Images/Ship.png"/>
		<add key="Cloud" value="/Images/Ship.png"/>
		<add key="Explosion" value="/Images/Ship.png"/>
		<add key="SingleDeckShip" value="/Images/Ship1.png"/>
		<add key="DoubleDeckShip" value="/Images/Ship2.png"/>
		<add key="ThreeDeckShip" value="/Images/Ship3.png"/>
		<add key="FourDeckShip" value="/Images/Ship4.png"/>
		<add key="BowShip" value="/Images/Ship.png"/>
		<add key="SternShip" value="/Images/Ship.png"/>
		<add key="FirstCentralPartShip" value="/Images/Ship.png"/>
		<add key="SecondCentralPartShip" value="/Images/Ship.png"/>
	</appSettings>
</configuration>