<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="None" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
		<add key="Wave" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
		<add key="Cloud" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
		<add key="Explosion" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
		<add key="SingleDeckShip" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
		<add key="BowShip" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
		<add key="SternShip" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
		<add key="FirstCentralPartShip" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
		<add key="SecondCentralPartShip" value="pack://DesktopGame:,,,/Images/ship.jpg"/>
	</appSettings>
</configuration>